@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  th {
    @apply px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50;
  }

  td {
    @apply px-8 py-5 whitespace-nowrap border-b border-gray-200;
  }

  input[type=text] {
    @apply border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 
  }

  input[type=checkbox] {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply uppercase text-slate-700 text-sm;
  }

  label {
    @apply mb-2 text-sm font-medium text-gray-900;
  }

  .form-container {
    @apply max-w-prose m-auto my-5 relative bg-white rounded-lg shadow;
  }
}

@layer components {
  .title {
    @apply text-center mx-4 my-4 text-4xl font-bold text-gray-800;
  }

  .btn-sm-ico {
    @apply  text-gray-900 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-100 cursor-pointer;
  }
}

@layer utilities {
  .bg-accent {
    @apply bg-[#242424];
  }
  .text-accent {
    @apply text-[#242424];
  }
}
