<html>

<head>
  <meta charset="UTF-8">
  <title>CampusMe Admin</title>
  <link th:href="@{~/public/admin.css}" rel="stylesheet" />
</head>

<body>
  <nav th:include="fragments/layout :: nav"></nav>
  <h1 class="title"> Entities </h1>
  <hr class="mx-5" />
  <div class="p-6 flex text-center justify-center align-center">
    <div class="flex-1">
      <h4>Databases</h4>
      <h2 class="upper">3</h2>
    </div>
    <div class="flex-1">
      <h4>Entities</h4>
      <h2 class="upper">10+</h2>
    </div>
  </div>
  <div class="p-6 flex text-center justify-center align-center">
    <a th:href="@{/society}" class="flex-1 flex justify-center">
    <div class="flex-1 max-w-sm rounded overflow-hidden shadow-md hover:shadow-lg my-2 p-3 text-left">
      <h2 class="uppercase text-slate-600">Society</h2>
      <hr/>
      <p>4 objects</p>
    </div>
    </a>
    <a href="/role" class="flex-1 flex justify-center">
    <div class="flex-1 max-w-sm rounded overflow-hidden shadow-md hover:shadow-lg my-2 p-3 text-left">
      <h2 class="uppercase text-slate-600">Role</h2>
      <hr/>
      <p>4 objects</p>
    </div>
    </a>
  </div>
</body>


</html>

<th:block th:include="fragments/layout :: scripts"></th:block>
