<html>

<head>
  <meta charset="UTF-8">
  <title>CampusMe Admin</title>
  <link th:href="@{~/public/admin.css}" rel="stylesheet" />
</head>

<body>
  <nav th:include="fragments/layout :: nav"></nav>
  <h1 class="title"> Dashboard </h1>
  <hr class="mx-5" />
  <div class="text-center">
    <h2> Society </h2>
    <div th:switch="${societysvc}" class="shadow-2xl w-full p-4 text-left">
      <pre>name: society-svc</pre>
      <pre>baseUnit: <span th:text="${societysvc.baseUnit}"></span></pre>
      <h2> Requests </h2>
      <div th:each="measurement : ${societysvc.measurements}" class="text-left">
        <pre th:text="${measurement}"> </pre>
      </div>
    </div>
  </div>

</body>


</html>

<th:block th:include="fragments/layout :: scripts"></th:block>
